# description
include README.rst

# license
include LICENSE

# requirements
include requirements.txt

# documentation
include README.rst

# example files
intro_to_wc_modeling/wc_modeling/wc_lang_tutorial/examples/test_wc_lang.xlsx
