# third party forks
git+https://github.com/KarrLab/log.git#egg=log

# Karr Lab
git+https://github.com/KarrLab/bpforms.git#egg=bpforms
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
git+https://github.com/KarrLab/wc_onto.git#egg=wc_onto
git+https://github.com/KarrLab/obj_model.git#egg=obj_model
git+https://github.com/KarrLab/wc_lang.git#egg=wc_lang
