capturer
cement
cobra
configparser
robpol86-sphinxcontrib-googleanalytics
matplotlib
numpy
openpyxl
optlang
scipy
six
sphinx >= 1.6
sphinx-rtd-theme
sphinxcontrib-bibtex
sphinxcontrib-spelling; python_version >= '3.0'
sqlalchemy
sympy
# git+https://github.com/KarrLab/wc_lang.git#egg=wc_lang  # wc-modeling language
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils  # wc-modeling utilities
